* {
    box-sizing: border-box;
}


.linha {
    display: inline-block;
}

.tamanho {
    width: 150px;
    height: 125px;
}

.box-green {
    background-color: green;

}

.box-red {
    background-color: red;

}

.box-blue {
    background-color: blue;
}

.box-green2 {
    background-color: green;
    width: 150px;
    height: 125px;
    margin: 0;
}

.box-blue2 {
    background-color: blue;
    width: 150px;
    height: 125px;
    margin: 0;
}

.box-red2 {
    background-color: red;
    width: 150px;
    height: 125px;
    margin: 0;
}

.margem {
    margin: 0;
}